body  {
  background-color: black;
  text-align: center;
  font-family: verdana;
}

h1 {

  font-size: 50px;
  color: white;
 }

 h2 {
  font-weight: bold;
  font-size: 42px;
  color: white;
  }

  p {
    color: grey;
    font-size: 21px;
  }

 .download-cta {
   font-size: 16px;
   color: aquamarine;
 }

 .footer {
   text-align: right;
   color: grey;
 }
